[Unit]
Description=Send Telemetry about the Gaia usage
Requires=set-hostname.service network-online.target
After=set-hostname.service network-online.target

[Service]
Type=exec
ExecStart=/usr/sbin/telemetry
Restart=no

[Install]
WantedBy=multi-user.target
