[Unit]
Description=Easy Splash Service

[Service]
Type=oneshot
ExecStart=/usr/easy-splash/easysplash open /usr/easy-splash/ --video-sink fbdevsink
KillMode=mixed

[Install]
WantedBy=sysinit.target
