[Unit]
Description=Easy Splash Stop Service
Before=getty.target
After=network-online.target multi-user.target graphical.target
Requires=multi-user.target

[Service]
Type=oneshot
ExecStartPre=/usr/bin/sleep 10
ExecStart=/usr/bin/pkill easysplash

[Install]
WantedBy=default.target
